
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #0ea7d6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Conteúdo principal */
main {
    padding: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Lista de produtos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.product-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.product-item img {
    width: 100px; /* Ajusta o tamanho da imagem */
    height: auto;
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0;
    font-size: 1rem;
}

.price {
    font-size: 1.2rem;
    color: #007BFF;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover {
    background-color: #0056b3;
}


aside {
    flex: 1;
    background: #eaeaea;
    padding: 10px;
    margin-left: 20px;
}

aside h2 {
    background: #ddd;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    background: #ac6a65;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}